
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    font-size:16px;
    font-family: 'Catamaran', 'Sacramento', 'cursive','Roboto', sans-serif;
}
/* varriables start  */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display:inline-block;
    width:100%;
    height:auto;
}
/* varriables end  */

/* universal css start */
.text-orange{color:#ea512e  !important;}
.text-black{color:#1a1b1a;}
.tex-silver{color:#a7a2a2;}
.bg-orange{background:#ea512e;}
.bg-yellow{color:#F5890D;}
.top-10{top:10%;}
.top-4{top:4%;}
.top-20{top:20%;}
.start-10{left:10%;}
.start-20{left:20%;}
.mt-10{margin-top:100px;}

.mt-7{margin-top:70px;}
.mb-7{margin-bottom:70px;}
.mt-15{margin-top:150px;}
.mt-20{margin-top:200px !important;}
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.pb-70{
    padding-bottom:70px;
}
/* universal css end */

/* reuseable code start */
h2,h4{
    color:#1B0238;
    font-weight: bold;
}
.button{
    color:#fff;
    display:inline-block;
    padding:12px 33px;
    font-size: 16px;
    border-radius:10px;
    font-weight:500;
    position:relative;
    overflow:hidden;
    background:#ea512e;
    transition: 0.8s linear;
    position: relative;
}
.default-btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #ea512e;
    color: #ffffff !important;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.default-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #f5890d;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
}
.default-btn:hover::before{
  height:100%;
}

.default-btn2{
    display: inline-block;
    padding: 12px 35px;
    background-color:#F5890D;
    color: #ffffff !important;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.default-btn2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color:#ea512e;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
}
.default-btn2:hover::before{
  height:100%;
}

#downangle{
    font-size:12px;
}
p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
h3{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#1B0238;
}
.bg-light-orange{
    background-color:#FDF6ED;
}
.img{
    display:inline-block;
    max-width:100%;
    height:auto;
}
/* reuseable code end */

/* header section start  */
.navbar{
        width:100%;
        position: fixed!important;
        z-index: 9;
        background: #fff;
    }

 .navbar .nav-item {
   font-size:18px;
   margin-right:6px; 
}
.navbar .nav-link{
    color:#1a1b1a;
    text-shadow: 1px  #333;
}
.navbar .nav-item li a:hover, .nav-link:hover{
    color:#ea512e;
    background:#fff;
}
.navbar .container{
    padding:3px 0;
}
.navbar .navbar-brand{
    max-width:140px;
}
.navbar .navbar-brand img{
    width:100%;
}
.navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
    width: 250px;
    padding:20px;
    top:50px;
    line-height: 2rem;
    font-size: 18px;
    text-shadow: 1px #333;
}

/* header section end  */

/* banner section start  */
.banner{
top: 100px;
width:100%;
height:auto;
background:url(../images/main-banner-bg.jpg);
background-size: cover;
background-position:center center;
}
 .buy-button{
    right: 30px;
    z-index: 99;
    top: 50%;
    position: fixed;
    border-radius: 30px;
    display: inline-block;
    color: #ffffff !important;
    background-color: #82b440;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    animation:shake 2s infinite;
}
@keyframes shake{
    10%{transform:scale(1.1)rotate(5deg);}
    30%{transform:scale(1.1)rotate(.5deg);}
    50%{transform:scale(1.1)rotate(5deg);}
    70%{transform:scale(1.1)rotate(.5deg);}
}
 .banner .shape-1{
    position:absolute;
    max-width:130px;
    top:25px;
    left:25px;
    animation-name: shape1;
    animation-duration:3s ;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
} 
.banner .shape-1 img{
    width:100%;
}
@keyframes shape1{
  0%{left: 25px; top: 25px;}
  100%{left: 45px; top: 25px;} 
}
.banner .shape-1 img{
    width:100%;
    height:auto;
    display:inline-block;
}
.banner .shape-2{
    position:absolute;
    max-width:130px;;
    top:25px;
    left:725px;
    animation-name:shape2;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes shape2 {
   0%{left:725px; top:25px} 
   100%{left:690px; top:25px}
}
.banner .shape-2 img{
    width:100%;
    height:auto;
    display:inline-block;
}
.banner .shape-3{
    position:absolute;
    max-width:200px;
    left:25px;
    bottom:80px;
    z-index:99;
    animation-name: shape3;
    animation-duration:3s ;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
} 
@keyframes shape3 {
    0%{left:25px; bottom:80px;}
    100%{left:45px; bottom:80px}
}
.banner .shape-3 img{
    width:100%;
    height:auto;
    display:inline-block;
}
.banner .shape-4{
    position:absolute;
    max-width:200px;;
    bottom:20px;
    left:725px;
    animation-name:shape4;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes shape4{
    0%{left:725px; bottom:20px;}
    100%{left:725px; bottom:40px;}
}
.banner .shape-4 img{
    width:100%;
    height:auto;
    display:inline-block;
}
.banner .girl-image{
display:flex;
justify-content: center;
align-items: center;
padding-top: 110px;
padding-left: 80px;
}

.banner .girl-image img{
   max-width:150%;
   height: auto;
}
.banner span {
    font-size: 16px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.banner h1{
    font-size: 62px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#1B0238;
    font-weight: bold;
}
/* banner section start  */
/* who-we-are-section start  */
.who-we-are-shape {
    position: absolute;
    right: 4%;
    transform: translateX(-5%);
    top: -90px;
    max-width: 120px;
    animation-name: whoshape;
    animation-duration:4s ;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}
.who .who-image{
    max-width:550px;
    padding:10px;
    position:relative;
}
@keyframes whoshape {
    0%   { right: 4%; top: -90px;}
    100%  { right: 6%; top:-90px;}
}
.who .who-image img{
    max-width: 100%;
    border-radius:50%;
    padding:20px;
}
.who .who-image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
.who .who-image::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color:#F5890D;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 40s linear infinite alternate forwards;
}

.who-we-are-content span, .popular span{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}
.who .kinder span{
    font-family:'Roboto', sans-serif ;
    border:1px solid transparent;
    background-color: #ea512e;
    color:#fff;
    padding:3px 9px;
    border-radius:50%;
    margin-right: 10px;
}
.who .kinder span:hover{
    background-color:#F5890D;
    transition: all .1s;  
}
/* who-we-are-section start  */

/* popular section start  */
.bg-light-orange{
    background:url(../images/class-shape-2.png)right bottom no-repeat,
    url(../images/class-shape-1.png)left bottom no-repeat;
}
.popular{
    padding:70px 0px;
}
.popular .card{
 transition:all 0.5s;
}
.popular .card:hover img{
  transform: rotate(2deg) scale(1.2);
  transition:all 1s ease-in;
}
.popular .card .card-btn{
 position:relative;
 margin-top:-16px;
 border-radius: 0px 0px 0px 10px;
 float: right;
 left: 20px
}
.popular .card .orange-border{
    border-top:2px dashed #ea512e;
}
.orange-border p{
    font-size:12px;
    font-weight: 600;
    color:#000;
}
.orange-border span{
    font-family: 'roboto',sans-serif;
    font-size:12px;
    font-weight: 600;
}
.popular .card:hover .card-btn{
    background:#F5890D;
}
.popular .card:hover .card-title{
    color:#ea512e;
}

/* popular section end  */
/* teacher section start  */
.teacher{
    width:100%;
    height:auto;
    background:url(../images/teacher-bg.jpg);
    background-size: cover;
    background-position:center center;
}
.teacher span{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive; 
}
.teacher .cards p{
    color: #ea512e;
}
.teacher .social-media{
   position:absolute;
   bottom:0;
   left:0;
   right:0; 
   margin-bottom:-100%;
   transition: all 0.5s;
}
.teacher-image:hover .social-media{
    margin-bottom: 0px;
    transition:0.5s;
}
.social-media li{
    border-radius: 50%;
    background-color: #ea512e;
    width:30px;
    height:30px;
    line-height: 30px;
}
.social-media li a{
    color:#fff;
}
.social-media li:hover{
    background-color:#F5890D;
    transition: 0.3s ease;
}
.teacher .teacher-image{
    z-index: 999;
}
 .teacher .teacher-image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
/* teacher section end  */

/* value section start  */
.value{
    background:url(../images/value-shape-1.png) left top no-repeat,
    url(../images/value-shape-3.png)right top no-repeat,
    url(../images/value-shape-2.png)left bottom no-repeat;
}
.value .span, .event span, .news span{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive; 
}
.value .outline{
    padding:10px 4px;
}
.value .col-12.d-flex:hover .number{
 color:#fff !important;
 background-color: #ea512e !important;
}

/* value section end  */

/* testimonial section start  */
.testimonial{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper .icons{
    background-color: #ea512e;
    color:#fff;
    border-radius: 50%;
    height: 40px;
    width:40px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }

  .carousel .item {
    scroll-snap-align: center;
    height: auto;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
  }
  .carousel .item .card{
    background-color: #FDF6ED;
    
  }
  .item .card p{
    font-style: italic;
  }
  .testimonial-icon{
    font-size: 40px;
    padding: 15px;
    border-radius: 50%;
    background-color:#ea512e;
    color:#fff;
    transition: all 0.3s linear;
  }
  .item .card:hover .testimonial-icon{
    background-color: #fff;
    color:#ea512e;
  }
  .buttons{
    top:160px;
  }
   .testimonial span{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}
.item{
    display:inline-block;
    width:300px;
}
.item.card{
    transition:0.5s ease-in-out;
} 
.testimonial .container:hover .icons{
    background-color: #F5890D;
}
/* testimonial section end  */

/* event section start  */
.event{
    width:100%;
    height:auto;
    background-image: url(../images/event-bg.jpg);
    background-size:cover;
    background-position: center center;
    padding:100px;
    background-attachment: fixed;
}
.event h4{
    font-size:80px;
    color:#ea512e
}
.month, .icon{
    color:#ea512e 
}
/* event section end */
/* news section start  */
.card-body span{
    color:#ea512e;
    font-family: 'Catamaran',sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.news .card-body{
    background-color:#FDF6ED ;
}
/* news section end */
/* .footer section start  */
footer{
    width:100%;
    height:auto;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/footer-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    padding:100px 0;
}
footer .heading::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #ea512e;
}
footer .social-icon li{
    margin:0 5px;
}
footer .social-icon li .social-icons{
    color:#fff;
    transition:0.5s;
}
footer .social-icon li a{
    position:relative;
    display:block;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color: #ea512e;
    line-height: 30px;
    text-align: center;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    background-color: #F5890D;
    transform: translate(0,-10px);

}
footer .links a{
color:#fff;
line-height: 2.7rem;

}
footer .link::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width:0px;
    background-color: #ea512e;
    transition: 0.5s;
}
footer .link:hover::before{
    width: 100px;   
}
footer .link:hover{
    color:#ea512e !important;
}
footer .gallery div{
    background:#000;
    overflow: hidden;
}
   

footer .gallery div img{
    width:100%;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: 0.3s ease-in-out;
}
footer .gallery div:hover img{
    transform: scale(1.1);
    opacity: 0.3;
}
 
.go-top i {
    position: absolute;
    /* right: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); */
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
i {
    line-height: normal;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* user agent stylesheet  */
i {
    font-style: italic;
}
.go-top.active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: -100px;
    right: 20px;
    color: #ffffff;
    background-color: #1b0238;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    font-size: 22px;
    -webkit-transition: .9s;
    transition: .9s;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
/* .footer section end  */

@keyframes border-transform-default{
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}
/* media query start  */

@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 991px) {
    .wrapper{
        max-width:900px;
    }
    .testimonial .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
    .banner .shape-1, .banner .shape-2,.banner .shape-3,.banner .shape-4,.who-we-are-shape {
        display:none;
    }
    .banner-content.mt-15 {
        margin-top: 70px;
    }
    .banner .girl-image{
        padding-top: 70px;
    }
    
  }
  @media screen and (max-width: 767px) {
    .banner-content.mt-15 {
        margin-top: 100px;
    }
    .row.bg-white.mt-5.py-4.rounded-4 {
        text-align: center;
    }
    .testimonial .wrapper .carousel {
        grid-auto-columns: calc((100%) );
    }
  }
  @media screen and (max-width: 575px){
    .banner .col-md-6 {
        text-align: center;
    }
    .banner-content.mt-15 {
        margin-top: 50px;
    }
    .banner h1 {
        font-size: 32px;}
    footer{
        padding:50px 0;
    }
    .banner .girl-image{
        padding-left: 0;
    }
    .d-flex.mt-2.mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h3 {
        font-size: 22px;
    }
    .popular .card {
        margin-bottom: 20px;
    }
    .popular {
        padding: 20px 0px;
    }
    .event{
        padding:50px;
    }
    .teacher .py-5 {
        padding-top: 2rem!important;
        padding-bottom: 1rem!important;
    }  
    .teacher .cards{
        margin-bottom:30px;
    }
    .value .span{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        }  
        .value h2{
            text-align: center;
            padding-bottom: 20px;
        }
        footer .social-icon{
            margin-bottom: 30px 
        }

  }
  @media screen and (max-width: 380px) {
    .banner h1 {
        font-size: 22px;
    }
    .wrapper {
        max-width: 400px;
        overflow: hidden;
    }
    .event{
        padding: 20px;
    }
    .item {
        display: inline-block;
        width: 220px;
    }
    
    .banner-content.mt-15 {
        margin-top: 50px;
    }
    
    h3 {
        font-size: 45px;
    }
    .who-we-are-content span {
        text-align: center;
        margin-top: 30px;
    }
    .popular {
        padding: 0;
    }
    .card.overflow-hidden {
        margin-bottom: 20px;
    }
    .carousel .item .card {
        background-color: #FDF6ED;
        margin: 5px;
    }
    .item .card p {
        font-style: normal;
        font-size: 12px;
    }
    .item .card h4 {
        font-size: 16px;
    }
    .default-btn,.default-btn2{
        font-size: 14px;
    }
    .buttons {
        display: none!important;
    }
    .clound-img{
        display:none;
    }
    }
  
/* media query end  */

/* --------about page start --- */
/* banner section start  */
.about-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/page-banner-1.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}
/* banner section end  */
/* fun section start  */
.fun{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/fun-facts-bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
}
.fun .card{
    padding:200px;
    opacity: .8;
}
/* fun section end */
/* Expert section start  */
.expert .card{
    width:350px;
    height:350px;
    object-fit: contain;
}
.expert .card ul li a{
    color:#ea512e !important;
    background-color: #fff;
    padding:10px 18px;
    border-radius: 50%;
    font-size: 16px;
}
.expert .card ul li a:hover{
    color:#fff !important;
    background-color: #F5890D;
    transition: 0.3s linear;
}
.expert .card .card-img-overlay{
    background-color: #333;
    opacity:0;
}
.expert .card .card-img-overlay:hover{
    opacity:.8;
    transition:0.8s ease-in-out;
}
/* expert section end  */
/* get-quote section start  */
  .get-quote{
    width:100%;
    background:url(../images/quote-bg.jpg);
    background-size: cover;
    background-position:center center;
    padding:100px;
   }
   .get-quote .row{
    background-color: #fff;
    padding: 40px;
    margin-left: 180px;
   }
    .get-quote span{
    color:#ea512e;
    font-family: 'Catamaran',sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-weight: bold;
   } 
/* get-quote section end  */

/* courses section start  */

.choose-img-shape .shape-1{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    animation:moveleft linear 3s infinite;
    animation-direction: alternate;
}
@keyframes moveleft {
    0%{margin-left: 0;}
    100%{ margin-left:50px;}
}
.choose-img-shape .shape-2{
    position:absolute;
    top:50%;
    right:-10%;
    z-index:-1;
    animation:moveright linear 3s infinite;
    animation-direction: alternate;
}
@keyframes moveright{
    0%{right:-10%;}
    100%{right:-12%;}
}
.choose-img-shape .shape-3{
    position:absolute;
    bottom:10%;
    left:12%;
    z-index: -1;
    animation:moveleft2 linear 3s infinite;
    animation-direction: alternate;
}
@keyframes moveleft2 {
    0%{left: 12%;}
    100%{left:13%;}
}
/* courses section end  */
/* pricing section start  */
.pricing span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}
.pricing table th,.pricing table td{
    font-size:25px;
    padding:30px;
}
.pricing table td{
    color:#777;
}
/* pricing section end  */

/* newsletter section start  */
.newsletter{
    background:#FDEEE9;
    z-index: 1;
    position:relative;
}
.newsletter .shape-1{
    position: absolute;
    left: 0;
    top: 24%;
    /* transform: translateY(-60%); */
    max-width: 250px;
    z-index: -1;
}
.newsletter .shape-2{
    position: absolute;
    right: 0;
    top: 15%;
    max-width: 250px;
    z-index: -1;
}
/* newsletter section end  */

/* about page media query start */
@media screen and (max-width:991px){
    .get-quote .row{
        margin-left: 0px;
       }
}
@media screen and (max-width:767px){
    .pricing table th, .pricing table td {
        font-size: 16px;
        padding: 20px;
    }
}
@media screen and (max-width:575px){
    .get-quote{
        padding:10px;
       }
       .pricing table th, .pricing table td {
        font-size: 12px;
        padding: 10px;
    }
}
/* about page media query end */

/* ----about page end----  */

/* ----event page start --- */
  /* event banner start  */
.event-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/event-banner-4.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
    object-fit: cover;
}
.event-area .content-box{
    background-color: #FDEEE9;
    padding:10px;
    border-radius: 10px;
}
.event-area .btn{
    background-color:#FCDED3;
    font-size: 20px;
    font-weight: 600;
}
  /* event banner end  */
/*----- event page end ---- */

/* -----event details page start ------ */
 /* event details banner start  */
 .event-details-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/event-banner-4.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
 }
 /* event details banner end  */
/* -----event details page end ------ */

/* teacher page start  */
/* ---teacher banner start----  */
.teacher-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/teacher-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

/* teacher banner end  */
/* --- teacher page end ----  */

/* -----teacherdetails page start----  */
.teacher-details{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/teacher-details-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}
.personal-details{
    background-color: #FFFFFF;
}
 .card .card-header h2::before{
    content: "";
    position: absolute;
    bottom: -17px;
    left: -16px;
    width: 190px ;
    height: 1px;
    background-color: #ea512e;
}
.progress{
    width:100%;
    height:6px;
}
/* ------ teacherdetails page end ------ */

/*--- class page start ----- */
.class-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/class-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
}
.pegination  ul li a{
    color:#ea512e;
    background:#fff;
    padding:10px 20px;
    border-radius:50%;
    margin:0 10px;
    font-size:18px;
    font-weight:900;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pegination  ul li a:hover{
    color: #fff;
    background:#ea512e;
    transition:0.5s linear;
}
/*--- class page end ----- */

/*--- classdetails page start ----- */
.classdetails-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/classdetails-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
}
/*--- classdetails page end ----- */

/*--- contact page start ----- */
.contact-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/contact-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
}
.ready form label{
    display:none;
}
/*--- contact page end ----- */

/* ---blog page start ---- */
.blog-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/blog-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
}
/* ---blog page end ---- */

/* ---blog-details page start ---- */
.blogdetails-banner{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/blogdetails-banner.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-attachment: fixed;
}
/* ---blog-details page end ---- */